@font-face {
	font-family: Nunito;
	src: url(./assets/fonts/Nunito/Nunito-Regular.ttf);
}

body {
	margin: 0;
	font-family: Nunito;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

a {
	text-decoration: none;
	color: inherit;
}

textarea {
	font-size: 16px;
}

textarea::placeholder {
	color: lightslategray;
}

body .react-responsive-modal-root {
	z-index: 10000;
}
